@use "../custom-bootstrap" as *;
@use "../components/mixins" as *;

$poppins: "Poppins", sans-serif;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $poppins;
}

.display-2 {
  margin-bottom: 1rem;

  &--heading {
    display: inline-block;
    font-weight: 700;
  }

  &--description {
    font-size: 1rem;
    display: block;
    margin-top: 1.2rem;

    @include media-breakpoint-up(lg) {
      font-size: 1.4rem;
    }
  }
}

// Heading line
.heading-line {
  &::before,
  &::after {
    content: "";
    display: block;
    background-color: $primary;
    margin: 0 auto;
  }

  &::before {
    height: 0.1rem;
    width: 15rem;
  }

  &::after {
    width: 5rem;
    height: 0.5rem;
  }
}

.display-3 {
  &--title {
    @extend .display-3;
    font-size: 1.8rem;
    font-weight: 600;
    background: linear-gradient(to right, $primary, $secondary);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.border-right {
  border-right: 0.1rem solid $gray-300;
  height: 100%;
}
